@import "tailwindcss";
@plugin "daisyui";

.my-btn {
  @apply bg-[#D2F34C] font-semibold px-6 py-2 border-2 border-[#D2F34C] hover:text-[#D2F34C] hover:bg-[#244034] transition-all duration-300 ease-in-out transform cursor-pointer;
}